
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
h1{
  text-align:center;
  text-shadow:1px 1px 2px rgba(0,0,0.2);
  font: size 50px;
}
.game-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:35px;
}
.board{
  display:flex;
  justify-content:center;
}
.cell{
  border:2px solid #000;
  width:75px;
  height:75px;
  text-align:center;
  font-size:50px;
  font-weight:500;
  background-color: rgba(255,255,255,0.8);
  color:#000;
  text-shadow:1px 1px 2px rgba(0,0,0,0.2);
  cursor:pointer;
}
.cell:hover{
  background-color: rgba(255,255,255,0.6);
}
.cell[:disabled]{
  color: #000;
  cursor:not-allowed;
}
.result{
  background-color: rgba(255,255,255,0.8);
  border:1px solid #000;
  max-width: 200px;
  text-align:center;
  margin:10px auto;
}
.result-text{
  color:white;
  text-shadow:1px 1px 2px rgba(255,255,255,0.2)
  font-size:25px;
}
.reset{
  text-align: center;
}
.reset-button{
  border:2px solid#000;
  color: #fff;
  background-color: #000;
  width:100px;
  height:40px;
  font-size:18px;
  cursor:pointer;
}
.reset-button:hover{
  background-color: #fff;
  color:#000;
  transition:background-color 0.3s ease;
}